{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1 class="h1-white">Course index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>
                  {% if rol == "ROLE_TEACHER" %}
                    <a href="{{ path('app_material_new', {'course_id': course.id}) }}"> Agregar material </a>
                    <a href="{{ path('app_course_edit', {'id': course.id}) }}"> editar curso </a>
                    <a href="{{ path('app_course_delete', {'id': course.id}) }}">Eliminar Curso</a>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if rol == "ROLE_TEACHER" %}
      <a href="{{ path('app_course_new') }}">Create new</a>
    {% endif %}
{% endblock %}
