{% extends 'base.html.twig' %}

{% block title %}Seat{% endblock %}

{% block body %}
    <h1>Seat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seat.id }}</td>
            </tr>
            <tr>
                <th>RowIndex</th>
                <td>{{ seat.rowIndex }}</td>
            </tr>
            <tr>
                <th>ColIndex</th>
                <td>{{ seat.colIndex }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ seat.label }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ seat.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_seat_index') }}">back to list</a>

    <a href="{{ path('app_seat_edit', {'id': seat.id}) }}">edit</a>

    {{ include('seat/_delete_form.html.twig') }}
{% endblock %}
